{{define "login"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/public/styles/main.css">
</head>
<body>
  <main>
    <h1>Login</h1>
    <form action="/login" method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required autofocus>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Login</button>
      <input type="hidden" name="clientid" value="{{.ClientId}}">
      <input type="hidden" name="redirecturi" value="{{.RedirectUri}}">
      <input type="hidden" name="state" value="{{.State}}">
    </form>
    <div class="links">
      <a href="/register">Register new account</a>
    </div>
  </main>  
</body>
</html>
{{end}}
